---
interface Props {
	label: string;
	inputId: string;
	placeholder: string;
	maxlength: string;
	errorId: string;
	Input: {
		min: string;
		max: string;
		required?: boolean;
	};
}

const { label, inputId, placeholder, maxlength, errorId, Input } = Astro.props;
---

<div class="container__input">
	<label for={inputId} id={`${inputId}Label`} class="container__input--label">{label}</label>
	<input type="number" name={inputId} id={inputId} placeholder={placeholder} maxlength={maxlength} min={Input.min} max={Input.max} required={Input.required} autocomplete="off" aria-label={label} class="container__input--inputNumber" />
	<span class="container__input--span h-3" id={errorId}> </span>
</div>
